<app-loantype-selection></app-loantype-selection>

<h3>What type of loan would you like?</h3>
<form role="form" name="myform">
  <div class="form-group">
    <div *ngFor="let type of loanTypes">
      <input type=radio
             [value]="type"
             required
             id="type-{{ type.id }}"
             name="loanType"
             [(ngModel)]="model.loanType">
      <label for="type-{{ type.id }}">{{ type.title }} (minimum {{ type.minAmount | number }} euro)</label>
    </div>
  </div>

  <h3 id="amountToBorrow">How much would you like to borrow?</h3>
  <div class="form-group">
    Amount to borrow:
    <input type="number" class="form-control"
           min="0" max="1000000"
           placeholder="Amount in Euros"
           required
           name="amount"
           [(ngModel)]="model.amount">
  </div>

  <span [hidden]="model.loanType==null || model.amount==null || model.amount > model.loanType.minAmount" class="alert-danger">
      The desired amount is lower than the minimum amount ({{model.loanType.title}}) of the selected loan type. You may eventually choose another loan type.
  </span>


  <button class="btn btn-default" [disabled]="model.loanType==null || model.amount==null || model.amount < model.loanType.minAmount"
          ng-click="submit()" id="submitButton1">Continue to explanation
  </button>
</form>
