<h3>Open Loan Requests</h3>

<button mat-button (click)="generate()">Generate a requester</button>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
    <th>Zipcode</th>
    <th>City</th>
    <th>Loantype</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let request of loanRequests">
    <td>{{ request.id }}</td>
    <td>{{ request.firstName }}</td>
    <td>{{ request.lastName }}</td>
    <td>{{ request.address }}</td>
    <td>{{ request.zipcode }}</td>
    <td>{{ request.city }}</td>
    <td>{{ request.loanType.title }}</td>
    <td>{{ request.amount | currency }}</td>
  </tr>
  </tbody>
</table>
