<app-login></app-login>

<div class="row gx-5 justify-content-center">
  <h1>Open Loan Requests</h1>

  <div class="col-lg-12 col-xl-12">
    <table mat-table [dataSource]="loanRequests" class="fullwidth">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="['/request/', element.id]">{{element.id}} </a></td>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}}, {{element.firstName}}  </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Loan Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanType.title}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="decision">
        <th mat-header-cell *matHeaderCellDef> Decision </th>
        <td mat-cell *matCellDef="let element"> {{element.decision }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.table-success]='row.decision == "APPROVED"' [class.table-danger]='row.decision == "DECLINED"'></tr>
    </table>
  </div>
</div>
<p></p>
<div class="row gx-5">
  <div class="col-lg-6 col-xl-4">
    <p>
      <button mat-raised-button color="accent" [class.spinner]="loading" [disabled]="loading" (click)="generate()">Generate requesters</button>

      <button mat-raised-button color="warn" *ngIf="isSuperAdmin" [class.spinner]="loading" [disabled]="loading"  (click)="deleteAll()">Delete All (no confirm!)</button>
    </p>
  </div>
</div>
