<div class="row gx-5 justify-content-center">
    <h1>Requests a Loan</h1>

    <div class="col-lg-12 col-xl-12 alert alert-success" [hidden]="!submitted">
      Your request has been submitted and is filled under <span id="requestId">#{{ requestId }}</span>
    </div>

    <div class="col-lg-12 col-xl-12 alert alert-danger" [hidden]="!errors" [innerHTML]="errors">
    </div>

    <div class="col-lg-12 col-xl-12" [hidden]="submitted">

        <div class="col-lg-12 col-xl-12" [hidden]="step!=1">

          <app-loantype-selection></app-loantype-selection>

          <hr />

          <h3>Request loan</h3>

          <form [formGroup]='firstFormGroup' novalidate class="form" (ngSubmit)='goToStep2()'>

            <div class="form-group">
              Select desired loan type:
              <label *ngFor="let type of loanTypes;">
                  <input
                    formControlName="loanType"
                    type="radio"
                    name="loanType"
                    [value]="type"
                  />
                  {{ type.title }} (minimum {{ type.minAmount | currency }})
              </label>
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input type="number" min="0" max="10000000" placeholder="Amount" formControlName="amount" required>
              <div *ngIf="isValidInput1('amount')" class="text-danger">
                <div *ngIf="firstFormGroup.controls['amount'].errors?.required">
                  Amount is required.
                </div>
              </div>
            </div>
            <div class="stepNav">
                <button type="submit" class="btn btn-info">Next</button>
            </div>
          </form>

        </div>

        <div class="col-lg-12 col-xl-12" [hidden]="step!=2">
            <h3>Acknowledgement</h3>
            <form [formGroup]="secondFormGroup" (ngSubmit)='goToStep3()'>
                <table>
                  <tr><td><strong>Loantype:</strong></td><td><span id="loanType">{{ loanType.title }}</span></td></tr>
                  <tr><td><strong>Amount:</strong></td><td><span id="loanAmount">{{ amount | currency }}</span></td></tr>
                </table>

                <br/>

                <label>
                    <input
                    formControlName="knowledge"
                    type="radio"
                    name="knowledge"
                    value="yes"
                    />
                    I have knowledge of and experience with borrowing.
                </label>
                <label>
                    <input
                    formControlName="knowledge"
                    type="radio"
                    name="knowledge"
                    value="no"
                    />
                    I do not have knowledge of and experience with borrowing.
                </label>
                <br/>
                <div [hidden]="this.secondFormGroup.value.knowledge != 'no'" class="alert alert-info">
                  <p>
                    Borrowing money is not always a good idea. Make sure to inform yourself on the conditions and interest rates
                    which apply to the loan. Make note that the provided interest rate might apply for only a limited period of
                    the loan. There are many other conditions to look into when automating this test. Take your time to think
                    about this offer and ask questions whenever something is unclear.
                  </p>
                </div>

                <div class="stepNav">
                  <button type="button" class="btn btn-info" (click)="back()">Back</button>
                  <button type="submit" class="btn btn-info" [disabled]="this.secondFormGroup.value.knowledge != 'yes'">Next</button>
                </div>
            </form>

        </div>


        <div class="col-lg-12 col-xl-12" [hidden]="step!=3">
            <h3>Personal details</h3>
            <form [formGroup]="thirdFormGroup" (ngSubmit)='goToStep4()'>

              <div class="form-group">
                <label>Gender</label>
                <select formControlName="gender" required>
                    <option *ngFor="let gen of genders" [value]="gen">{{ gen | titleCase }}</option>
                </select>
                <div *ngIf="isValidInput3('firstname')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['firstname'].errors?.required">
                    Gender is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Firstname</label>
                <input type="text"  placeholder="Firstname" formControlName="firstname" required />
                <br/>
                <div *ngIf="isValidInput3('firstname')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['firstname'].errors?.required">
                    Firstname is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Lastname</label>
                <input type="text"  placeholder="Lastname" formControlName="lastname" required />
                <br/>
                <div *ngIf="isValidInput3('lastname')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['lastname'].errors?.required">
                    Lastname is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Date of birth</label>
                <input type="date"  placeholder="Date of birth" formControlName="dob" required />
                <br/>
                <div *ngIf="isValidInput3('dob')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['dob'].errors?.required">
                    Date of birth is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text"  placeholder="Address" formControlName="address" required />
                <br/>
                <div *ngIf="isValidInput3('address')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['address'].errors?.required">
                    Address is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Zipcode</label>
                <input type="text"  placeholder="Zipcode" formControlName="zipcode" required />
                <br/>
                <div *ngIf="isValidInput3('zipcode')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['zipcode'].errors?.required">
                    Zipcode is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>City</label>
                <input type="text"  placeholder="City" formControlName="city" required />
                <br/>
                <div *ngIf="isValidInput3('city')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['city'].errors?.required">
                    City is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Marital status</label>
                <select formControlName="maritalStatus" required>
                    <option *ngFor="let state of maritalStates" [value]="state">{{ state | titleCase }}</option>
                </select>
                <br/>
                <div *ngIf="isValidInput3('maritalStatus')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['maritalStatus'].errors?.required">
                    Martial status is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Net year income</label>
                <input type="number"  placeholder="Income" formControlName="income" required/>
                <br/>
                <div *ngIf="isValidInput3('income')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['income'].errors?.required">
                    Income is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Type of income</label>
                <select formControlName="incometype" required>
                    <option *ngFor="let type of incomeTypes" [value]="type">{{ type | titleCase }}</option>
                </select>
                <br/>
                <div *ngIf="isValidInput3('incometype')" class="text-danger">
                  <div *ngIf="thirdFormGroup.controls['incometype'].errors?.required">
                    Income type is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="stepNav">
                  <button type="button" class="btn btn-info" (click)="back()">Back</button>
                  <button type="submit" class="btn btn-info">Next</button>
                </div>
              </div>
            </form>

        </div>

        <div class="col-lg-12 col-xl-12" [hidden]="step!=4">
            <h3>Verify your information</h3>
            <form (ngSubmit)='submit()'>
                <table>
                    <tr><td><strong>Loantype:</strong></td><td> {{ loanType.title }}</td></tr>
                    <tr><td><strong>Amount:</strong></td><td> {{ amount | currency }}</td></tr>
                    <tr><td><strong>Acknowledgement:</strong></td><td> {{ this.secondFormGroup.value.knowledge }}</td></tr>
                    <tr><td><strong>Gender:</strong></td><td> {{ this.thirdFormGroup.value.gender | titleCase }}</td></tr>
                    <tr><td><strong>Firstname:</strong></td><td> {{ this.thirdFormGroup.value.firstname }}</td></tr>
                    <tr><td><strong>Lastname:</strong></td><td> {{ this.thirdFormGroup.value.lastname }}</td></tr>
                    <tr><td><strong>Date of birth:</strong></td><td> {{ this.thirdFormGroup.value.dob | date:'mediumDate' }}</td></tr>
                    <tr><td><strong>Address:</strong></td><td> {{ this.thirdFormGroup.value.address }}</td></tr>
                    <tr><td><strong>Zipcode:</strong></td><td> {{ this.thirdFormGroup.value.zipcode }}</td></tr>
                    <tr><td><strong>City:</strong></td><td> {{ this.thirdFormGroup.value.city }}</td></tr>
                    <tr><td><strong>Income:</strong></td><td> {{ this.thirdFormGroup.value.income }}</td></tr>
                    <tr><td><strong>Marital status:</strong></td><td> {{ this.thirdFormGroup.value.maritalStatus | titleCase }}</td></tr>
                    <tr><td><strong>Income type:</strong></td><td> {{ this.thirdFormGroup.value.incometype | titleCase }}</td></tr>
                </table>

                <div class="stepNav">
                  <button type="button" class="btn btn-info" (click)="back()">Back</button>
                  <button type="submit" class="btn btn-info">Request the loan</button>
                </div>
            </form>

        </div>
    </div>

</div>
