<section id="banner">
  <div class="inner split">
    <section>
      <h2>Loan Application</h2>
    </section>
    <section>
      <p>A responsive site for automated testing</p>
    </section>
  </div>
  <ul class="text-center list-inline py-3">
    <li class="list-inline-item">
      <a routerLink="/request" class="btn btn-info">Request New Loan</a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/list" class="btn btn-info">Show Loan Requests</a>
    </li>
  </ul>
</section>

<div class="container">
  <router-outlet></router-outlet>
</div>
