<section id="banner">
  <div class="inner split">
    <section>
      <h2>Loan Application</h2>
    </section>
    <section>
      <p>A responsive site for automated testing</p>
    </section>
  </div>
  <ul class="text-center list-inline py-3">
    <li class="list-inline-item">
      <a routerLink="/request" class="btn btn-info">Request New Loan</a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/list" class="btn btn-info">Show Loan Requests</a>
    </li>
  </ul>
</section>

<div class="container">
  <router-outlet></router-outlet>
</div>

<section id="footer">
  <ul class="text-center list-inline py-3">
    <li>
      <a class="btn btn-default" href="https://loanapplication-be.azurewebsites.net/swagger-ui/" target="_blank">API Doc</a>
    </li>
    <li>
      <a class="btn btn-default" href="https://github.com/jgelon/LoanApplication-FE/" target="_blank">Source Frontend</a>
    </li>
    <li>
      <a class="btn btn-default" href="https://github.com/jgelon/LoanApplication-BE/" target="_blank">Source Backend</a>
    </li>
  </ul>
</section>
