<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" href="#!">Loan Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://loanapplication-be.azurewebsites.net/swagger-ui.html" target="_blank">API Doc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jgelon/LoanApplication-FE/" target="_blank">Source Frontend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jgelon/LoanApplication-BE/" target="_blank">Source Backend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/html/xpaths.html" target="_blank">XPath Training</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Loan Application</h1>
          <p class="lead text-white-50 mb-4">A responsive site for automated testing</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/request" id="request1">Request New Loan</a>
            <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/request-fancy" id="request2">Request New Loan (v2)</a>
            <a class="btn btn-outline-light btn-lg px-4" routerLink="/list">Show Loan Requests</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Content section-->
<section class="py-5">
  <div class="container px-5 my-5 px-5">
    <router-outlet></router-outlet>
  </div>
</section>


<footer class="py-5 bg-dark">
  <div class="container px-5">
    <p class="m-0 text-center text-white">Copyright &copy; Jurn van Mieghem</p>
    <p class="m-0 text-center text-white"><button class="btn btn-outline-warning" (click)="clearStorage()">Clear local storage</button></p>
  </div>
</footer>
