<div *ngIf="!isLoggedIn">
  <div *ngIf="loginError != ''" class="alert alert-danger">{{loginError}}</div>
  <div class="alert alert-info">Username: <strong>admin</strong>, password: <strong>admin</strong></div>

  <form name="loginForm" (ngSubmit)="f.form.valid && submitLogin()" #f="ngForm" novalidate>
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="loginForm.username" required
                #username="ngModel" />
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="loginForm.password" required
                #password="ngModel" />
        <button class="btn btn-info">Login</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="isLoggedIn" class="logout">
  <button class="btn btn-warning" (click)="logout()">Logout</button>
</div>
