<div *ngIf="!isLoggedIn">
  <div *ngIf="loginError != ''" class="alert alert-danger">{{loginError}}</div>

  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="alert alert-info">
        Supported Credentials

        <table class="table">
          <thead>
            <tr>
              <th>Access</th>
              <th>Username</th>
              <th>Password</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>All Permissions</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>Read Permissions</td>
              <td>reader</td>
              <td>reader</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <form name="loginForm" (ngSubmit)="f.form.valid && submitLogin()" #f="ngForm" novalidate>
        <div class="card">
          <div class="card-body">
            <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="loginForm.username" required
                    #username="ngModel" />
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="loginForm.password" required
                    #password="ngModel" />
            <button class="btn btn-info" id="login-button">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isLoggedIn" class="logout">
  <span>Logged in as <strong>{{ username }}</strong></span><button class="btn btn-outline-primary  btn-sm" (click)="toggleAuthorities()">?</button><br />
  <ul [hidden]="hide_authorities">
    <li *ngFor="let authority of authorities" >{{authority}}</li>
  </ul>
  <button class="btn btn-warning" (click)="logout()" id="logout-button">Logout</button>
</div>
