/* You can add global styles to this file, and also import other style files */
/* Banner */

	#banner {
		background-image: url("assets/images/overlay.png"), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("assets/images/overlay.png"), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("assets/images/overlay.png"), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("assets/images/overlay.png"), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-size: 100px 100px, cover;
		color: rgba(255, 255, 255, 0.5);
		padding: 3em 0 2em;
	}

  #banner h2 {
    font-size: 2.5em;
    line-height: 1.4;
    margin-bottom: 0;
    color: #fff;
  }

  #banner p {
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 3em;
  }

  #banner > .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
    width: 100%;
  }

  @media screen and (max-width: 1366px) {
    #banner {
      padding: 3em 2.5em 3em;
    }
    #banner h2 {
      font-size: 2em;
    }
  }

  @media screen and (max-width: 980px) {
    #banner {
      padding: 3em 2em 2em;
    }
  }

  @media screen and (max-width: 736px) {
    #banner {
      padding: 3em 2em 2em;
    }
    #banner h2 {
      font-size: 1.75em;
    }
    #banner p {
      font-size: 1.1em;
    }
  }

  @media screen and (max-width: 480px) {
    #banner {
      padding: 3em 2em 2em;
    }
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
